apiVersion: v1
kind: Secret
metadata:
  name: {{ threescale_basic_auth_secret_name }}
  namespace: {{ namespace }}
stringData:
  name: {{ threescale_secret_display_name }}
  type: {{ threescale_secret_display_name }}
  uri: https://{{ THREESCALE_DOMAIN }}
  password: https://{{ THREESCALE_ACCESS_TOKEN }}@{{ THREESCALE_DOMAIN }}
  token: {{ THREESCALE_ACCESS_TOKEN }}
  domain: {{ THREESCALE_DOMAIN }}
  service_id: "{{ THREESCALE_SERVICE_ID }}"
  apicast_route: "{{ apicast_route.stdout }}"