apiVersion: v1
kind: Secret
metadata:
  name: {{ threescale_basic_auth_secret_name }}
  namespace: {{ namespace }}
stringData:
  name: {{ threescale_secret_display_name }}
  type: {{ threescale_secret_display_name }}
  uri: https://{{ THREESCALE_DOMAIN }}
  password: https://{{ THREESCALE_ACCESS_TOKEN }}@{{ THREESCALE_DOMAIN }}
